@import url(https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Mali&display=swap);


/* jumbotron */
.jumbotron{
    border-radius: 0px;
}
.fond{
    background-image: url("https://nsa40.casimages.com/img/2021/02/09/210209105739500191.jpg");
    height: 50rem;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* texte */
body {
	text-align: center;
	font-family: 'Mali', 'curcive';
}

#ratefield {
	font-family: 'Sedgwick Ave', 'cursive';
	font-size: 2.0em;
}

h1 {
	font-family: 'Sedgwick Ave', 'cursive';
	font-size: 10.0em;
}

h4 {
	font-family: 'Mali', 'curcive';

}


/* Footer */
section {
    padding: 60px 0;
}

#footer {
    background: #fc952e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
