@import url(https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Mali&display=swap);



html {
    height: 100%;
  }
 /* https://nsa40.casimages.com/img/2021/02/10/210210105113169875.jpg */
 /* https://nsa40.casimages.com/img/2021/02/09/210209105739500191.jpg */
  .bg { 
/* le fond */
    background-image: url("https://nsa40.casimages.com/img/2021/02/09/210209105739500191.jpg");
  
/* Full height */
    height: 100%; 
  
/* centre */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


body {
    height: 100%;
	text-align: center;
	font-family: 'Mali', 'curcive';
}


/* texte */
#ratefield {
	font-family: 'Sedgwick Ave', 'cursive';
    font-size: 2.0em;

}

h1 {
	font-family: 'Sedgwick Ave', 'cursive';
}

h4 {
	font-family: 'Mali', 'curcive';
}


/* Footer */

section {
    padding: 2em;
}

#footer {
    background: #fc952e !important;
}

#footer a {
    color: #ffffff;
}